Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a collection of data that is organized so that it can be easily accessed, managed, and updated. Databases are used to store all sorts of data, including customer information, product inventory, and financial records.

There are two main types of databases: SQL and NoSQL.

1. SQL databases use a structured query language (SQL) to store and retrieve data. SQL is a standard language that is used by most relational databases. Relational databases store data in tables, which are made up of rows and columns. Each row represents a single record, and each column represents a single piece of data about that record.
2. NoSQL databases do not use SQL. Instead, they use a variety of different data models, including document, key-value, and graph databases. Document databases store data in documents, which are similar to JSON objects. Key-value databases store data in key-value pairs, where the key is a unique identifier and the value is any type of data. Graph databases store data in graphs, which are made up of nodes and edges. Nodes represent entities, such as people or products, and edges represent relationships between entities.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is a set of commands that are used to define the structure of a database. DDL commands are used to create, alter, drop, and rename tables, views, and other database objects.
DDL commands are used to create and manage the structure of a database. They are an essential part of database administration.
DDL commands are an important part of database management. They allow database administrators and developers to create and manage the structure of a database.

CREATE is used to create a new database object. For example, the following command creates a new table called students:
create table students(id INT, name VARCHAR(40), class VARCHAR(10));

DROP is used to delete a database object. For example, the following command deletes the table students:
drop table students;

ALTER is used to modify the structure of a database object. For example, the following command adds a new column called mobile to students table:
alter table students ADD mobile INT;

TRUNCATE is used to delete all the data from a table. However, it does not delete the table structure. For example, the following command deletes all the data from the students table:
truncate table students;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. It is a set of SQL statements used to insert, update, and delete data in a database.
DML statements are used to modify the data in a database. They are an essential part of SQL and are used by database administrators, developers, and analysts to manage data.

INSERT is used to add new rows to a table. The syntax for an INSERT statement is:
insert into students values(101, "subh", "datascience", 987654);

UPDATE is used to change the values of existing rows in a table. The syntax for an UPDATE statement is:
update students set name="subhajeet" where id=101;

DELETE is used to delete rows from a table. The syntax for a DELETE statement is:
delete from students where id=101;

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a set of SQL statements used to retrieve data from a database. The most common DQL statement is SELECT, which is used to select specific columns and rows from a table.
The SELECT statement is a powerful tool that can be used to retrieve data from a database. It is an essential part of SQL and is used by database administrators, developers, and analysts to manage data.

The syntax for a SELECT statement is:
select * from students;
select * from students where id=101;
select id, name from students;

Q5. Explain Primary Key and Foreign Key.

A primary key is a column or a combination of columns in a database table that uniquely identifies each record in the table. It ensures the uniqueness and integrity of the data within the table. Every table should have a primary key defined. The primary key has the following characteristics:
1. Uniqueness: Each value in the primary key column(s) must be unique, meaning no two records can have the same primary key value.
2. Non-nullability: The primary key column(s) cannot have a null value, ensuring that each record is uniquely identifiable.
3. Unchanging: The primary key value(s) should ideally remain constant throughout the lifetime of a record.

A foreign key is a column or a combination of columns in a table that establishes a link or relationship to the primary key of another table. It creates a logical connection between two tables, representing a dependency between the records of the tables. The foreign key has the following characteristics:
1. Referential Integrity: The foreign key ensures that the values in the column(s) referencing the primary key of another table match the existing values in the referenced primary key column(s).
2. Relationship Establishment: It establishes relationships between tables, allowing data to be linked and accessed across related tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector
mydb=mysql.connector.connect(host="hostname", user="username", password="password")
mycursor=mydb.cursor()
mydb.close()

The cursor() method is used to create a cursor object. A cursor object is used to execute SQL queries and fetch the results. The execute() method is used to execute a SQL query. The fetchall() method is used to fetch all the results of a query.
The cursor() and execute() methods are two of the most important methods in Python for working with MySQL databases. They are used to execute SQL queries and fetch the results.

Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

1. FROM: The FROM clause specifies the tables that are involved in the query.
2. JOIN: The JOIN clause specifies how the tables are related to each other.
3. WHERE: The WHERE clause specifies the conditions that the rows must meet in order to be included in the results.
4. GROUP BY: The GROUP BY clause specifies how the rows are grouped together.
5. HAVING: The HAVING clause specifies the conditions that the groups must meet in order to be included in the results.
6. SELECT: The SELECT clause specifies the columns that are included in the results.
7. ORDER BY: The ORDER BY clause specifies how the results are sorted.
8. LIMIT: The LIMIT clause specifies the number of rows that are included in the results.