Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd
l=[48,15,16,23,42]
s=pd.Series(l)

In [2]:
s

0    48
1    15
2    16
3    23
4    42
dtype: int64

In [3]:
type(s)

pandas.core.series.Series

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [4]:
l1=[1,2,3,6,5,4,9,8,7,0]
s1=pd.Series(l1)
print(s1)

0    1
1    2
2    3
3    6
4    5
5    4
6    9
7    8
8    7
9    0
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female

Then, print the DataFrame.

In [5]:
data={"Name":["Alice", "Bob", "Claire"],
      "Age":[25,30,27],
      "Gender":["Female", "Male", "Female"]
}
df=pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [6]:
type(df)

pandas.core.frame.DataFrame

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In pandas, a DataFrame is a two-dimensional labeled data structure that consists of columns and rows. It can be thought of as a table or a spreadsheet-like data structure where data is organized in a tabular format. Each column in a DataFrame represents a variable, and each row represents an observation or a record.

On the other hand, a pandas Series is a one-dimensional labeled array that can hold any data type. It is similar to a column in a DataFrame, but it doesn't have column names. A Series is often used to represent a single column or a single variable.

In [7]:
data={"Name":["Alice", "Bob", "Claire"],
      "Age":[25,30,27],
      "Gender":["Female", "Male", "Female"]
}
df=pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
l1=[1,2,3,6,5,4,9,8,7,0]
s1=pd.Series(l1)
print(s1)

0    1
1    2
2    3
3    6
4    5
5    4
6    9
7    8
8    7
9    0
dtype: int64

In [10]:
type(s1)

pandas.core.series.Series

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Here are some common functions you can use to manipulate data in a Pandas DataFrame:

1. head(): This function returns the first few rows of a DataFrame. For example, df.head() would return the first 5 rows of the DataFrame df.
2. tail(): This function returns the last few rows of a DataFrame. For example, df.tail() would return the last 5 rows of the DataFrame df.
3. describe(): This function returns a summary of the statistical distribution of the data in a DataFrame. For example, df.describe() would return the mean, standard deviation, minimum, maximum, and other statistical measures for each column in the DataFrame df.
4. drop(): This function drops rows or columns from a DataFrame. For example, df.drop('column_name', axis=1) would drop the column column_name from the DataFrame df.
5. rename(): This function renames rows or columns in a DataFrame. For example, df.rename(columns={'old_column_name': 'new_column_name'}) would rename the column old_column_name to new_column_name in the DataFrame df.

In [12]:
df.head(2)

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male

In [13]:
df.columns

Index(['Name', 'Age', 'Gender'], dtype='object')

In [14]:
df.shape

(3, 3)

In [15]:
df.dtypes

Name      object
Age        int64
Gender    object
dtype: object

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Series and DataFrame are both mutable in nature. Panel is not mutable.

A Series is a one-dimensional labeled array of data. It is mutable, which means that the data in a Series can be changed after it has been created. For example, you can add new data to a Series, or you can change the values of existing data in a Series.

A DataFrame is a two-dimensional labeled array of data. It is also mutable, which means that the data in a DataFrame can be changed after it has been created. For example, you can add new rows or columns to a DataFrame, or you can change the values of existing data in a DataFrame.

A Panel is a three-dimensional labeled array of data. It is not mutable, which means that the data in a Panel cannot be changed after it has been created. This is because a Panel is a container of DataFrames, and DataFrames are immutable.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [16]:
nameseries=pd.Series(["abc", "pqr", "xyz"])
rollseries=pd.Series([10,11,12])
subseries=pd.Series(["DSA","DataScience","Java"])
df5=pd.DataFrame({"Name":nameseries, "RollNo":rollseries, "Subjects":subseries})

In [17]:
df5

  Name  RollNo     Subjects
0  abc      10          DSA
1  pqr      11  DataScience
2  xyz      12         Java